
@import 'utils/variables';
@import 'components/type';


@font-face {
    font-family: sprat;
    src: url(../assets/fonts/Sprat-CondensedLight.otf)
}

@font-face {
    font-family: spratbold;
    src: url(../assets/fonts/Sprat-CondensedBold.otf)
}

/*@keyframes link {
    from {
        top : 5%;
        transform: rotateY(360deg);
    }

    to {
        top:30%;
        transform: rotateY(0);
    }
}

@keyframes link2 {
    from {
        top : 5%;
    }

    to {
        top:30%;
    }
}*/
body {
    font-family: sprat;
    color: white;
    margin: 0;
    padding: 2.50em;
    background-color: black;
}
.home{
    transform: translateY(-0vh);
    font-family: sprat;
        &__title{
            display: flex;
            justify-content: center;
            margin-top: 2.25em;
            height:30vh;
            width: 100%;
            margin: 0;
        }
    
        &__title img{
            object-fit: cover;
            width: 100%;
    
            overflow: hidden;
        }
        &__subtitle{
            text-align: center;
            color: rgb(255, 0, 0);
            margin: 0;
            font-size: 2.25em;
            font-family: spratbold;
            margin-bottom: 1em;
        }
    }
    .selection{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        &__button{
            padding: 0 1.50em;
            font-family: sprat;
            font-size: 1.50em;
            color: white;
            margin: 1em;
            background: none;
            border: none;
        }
        &__button:hover{
            cursor: pointer;
            background-image: url(../assets/images/right-arrow-svgrepo-com.svg);
            background-size: 1em;
            background-repeat: no-repeat;
            background-position-y:center

        }
    }
    .rank{
        
        text-align: center;
        &__question{
            font-family: spratbold;
            font-size: 3.38em;
        }
        &__instructions{
            font-size: 1em;
        }
        &__slot{
            
            display: flex;
            justify-content: flex-start;
            padding: 0 2.25em;
            background-color: rgb(46, 46, 93);
            margin: 1.50em 30%;
        }
    }
    .answer{
        display: flex;
        justify-content: center;
        flex-flow: row;
        &__card{
            padding: 0 3.38em;
            background-color: rgb(128, 141, 200);
            margin: 0 1em;
        }
        &__card:hover{
            cursor: grab;
        }
    }