html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    align-self: center;

}


@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.hidden {
    display: none !important;
}

.dataplay__home {
    height: 100%;
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .home__warning {
        position: fixed;
        width: 70%;
        height: 200px;
        align-self: center;
        background-color: grey;
        display: flex;
        flex-direction: column;
        outline-style: solid;
        outline-width: 10px;
        outline-color: darkgray;
        outline-offset: -10px;

        .warning__text {
            text-align: center;
            font-family: Handjet, sans-serif;
            font-size: 16px;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 30px;
            margin-right: 30px;
            margin-left: 30px;
        }

        .warning__ok {
            align-self: center;
            width: 75px;
            height: 37px;
            background-color: transparent;
            outline-style: solid;
            outline-color: #FFFFFF;
            outline-offset: -5px;
            outline-width: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .ok__text {
                font-family: Handjet, sans-serif;
                font-size: 22px;
                font-weight: bold;
            }
        }
    }

    .home__title {
        margin-bottom: 0;

        .title__title {
            font-family: Handjet, sans-serif;
            font-size: 62px;
            font-weight: bold;
            text-align: center;
            margin-top: 0;
            margin-bottom: 20px;
            color: #FFFFFF;
    
            &--bottom {
                margin-bottom: 80px;
            }
        }
    }

    .home__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .buttons__button {
            width: 290px;
            height: 104px;
            background-color: transparent;
            outline-style: solid;
            outline-color: #FFFFFF;
            outline-offset: -10px;
            outline-width: 10px;
            display: flex;
            justify-content: center;
            cursor: pointer;

            &--play {
                margin-bottom: 20px;
            }

            .button__text {
                align-self: center;
                color: #FFFFFF;
                font-family: Handjet, sans-serif;
                font-size: 62px;
                font-weight: bold;
            }
        }

        .buttons__button:hover {
            background-color: #FFFFFF;

            .button__text {
                color: #000000;
            }
        }

        .buttons__button:active {
            background: rgb(255,117,117);
            background: linear-gradient(180deg, rgba(255,117,117,1) 0%, rgba(255,255,117,1) 25%, rgba(160,255,117,1) 50%, rgba(80,117,255,1) 75%, rgba(160,117,255,1) 100%);
            outline-color: transparent;
            
            .button__text {
                color: #000000;
            }
        }
    }
}

.dataplay__rules {
    height: 100%;
    margin: 20px 20px 20px 20px;

    .rules__paragraph {
        font-family: Handjet, sans-serif;
        font-size: 31px;
        font-weight: bold;
        color: #FFFFFF;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .rules__button {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        .button__home {
            width: 290px;
            height: 104px;
            background-color: transparent;
            outline-style: solid;
            outline-color: #FFFFFF;
            outline-offset: -10px;
            outline-width: 10px;
            display: flex;
            justify-content: center;
            cursor: pointer;

            .home__text {
                align-self: center;
                color: #FFFFFF;
                font-family: Handjet, sans-serif;
                font-size: 44px;
                font-weight: bold;
            }
        }

        .button__home:hover {
            background-color: #FFFFFF;

            .home__text {
                color: #000000;
            }
        }

        .button__home:active {
            background: rgb(255,117,117);
            background: linear-gradient(180deg, rgba(255,117,117,1) 0%, rgba(255,255,117,1) 25%, rgba(160,255,117,1) 50%, rgba(80,117,255,1) 75%, rgba(160,117,255,1) 100%);
            outline-color: transparent;
            
            .home__text {
                color: #000000;
            }
        }
    }
}

.dataplay__intro {
    height: 100%;
    margin: 20px 20px 20px 20px;

    .intro__title {
        text-align: center;
        font-family: Handjet, sans-serif;
        font-size: 62px;
        font-weight: bold;
        color: #FFFFFF;
        margin-top: 0;
        margin-bottom: 160px;
    }

    .intro__square {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10px;
        margin-bottom: 160px;

        .square__league {
            width: 10px;
            height: 10px;
            background-color: #FFFFFF;
        }
    }

    .intro__paragraph {
        font-family: Handjet, sans-serif;
        font-size: 31px;
        font-weight: bold;
        color: #FFFFFF;
        margin-top: 0;
        margin-bottom: 0;

        &--bottom {
            margin-top: 20px;
        }
    }

    .intro__button {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        .button__continue {
            width: 290px;
            height: 104px;
            background-color: transparent;
            outline-style: solid;
            outline-color: #FFFFFF;
            outline-offset: -10px;
            outline-width: 10px;
            display: flex;
            justify-content: center;
            cursor: pointer;

            .continue__text {
                align-self: center;
                color: #FFFFFF;
                font-family: Handjet, sans-serif;
                font-size: 44px;
                font-weight: bold;
            }
        }

        .button__continue:hover {
            background-color: #FFFFFF;

            .continue__text {
                color: #000000;
            }
        }

        .button__continue:active {
            background: rgb(255,117,117);
            background: linear-gradient(180deg, rgba(255,117,117,1) 0%, rgba(255,255,117,1) 25%, rgba(160,255,117,1) 50%, rgba(80,117,255,1) 75%, rgba(160,117,255,1) 100%);
            outline-color: transparent;
            
            .continue__text {
                color: #000000;
            }
        }
    }
}

.dataplay__game {
    margin: 20px 20px 20px 20px;
    max-width: 1600px;

    .game__league {
        margin-bottom: 200px;

        .league__paragraph {
            font-family: Handjet, sans-serif;
            font-size: 44px;
            font-weight: bold;
            color: #FFFFFF;
            margin-top: 0;
            margin-bottom: 20px;
            text-align: start;

            &--bottom {
                margin-bottom: 40px;
            }
        }

        .league__square {
            display: flex;
            justify-content: center;
            align-items: center;

            .square__form {
                background: rgb(255, 117, 117);
                background: linear-gradient(180deg, rgba(255, 117, 117, 1) 0%, rgba(255, 255, 117, 1) 25%, rgba(160, 255, 117, 1) 50%, rgba(80, 117, 255, 1) 75%, rgba(160, 117, 255, 1) 100%);
                width: 10px;
                height: 10px;
            }
        }
    }

    .game__test {
        margin-bottom: 200px;

        .test__paragraph {
            font-family: Handjet, sans-serif;
            font-size: 44px;
            font-weight: bold;
            color: #FFFFFF;
            margin-top: 0;
            margin-bottom: 20px;
            text-align: start;

            &--bottom {
                margin-bottom: 40px;
            }
        }

        .test__testsquare {
            display: flex;
            justify-content: center;
            align-items: center;

            .testsquare__form {
                background: rgb(255, 117, 117);
                background: linear-gradient(180deg, rgba(255, 117, 117, 1) 0%, rgba(255, 255, 117, 1) 25%, rgba(160, 255, 117, 1) 50%, rgba(80, 117, 255, 1) 75%, rgba(160, 117, 255, 1) 100%);
                width: 200px;
            }
        }
    }

    .game__questions {
        position: fixed;
        width: 90%;
        height: 250px;
        align-self: center;
        background-color: grey;
        display: flex;
        flex-direction: column;
        outline-style: solid;
        outline-width: 10px;
        outline-color: darkgray;
        outline-offset: -10px;

        .questions__question {
            text-align: center;;
            font-family: Handjet, sans-serif;
            font-size: 22px;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 40px;
            margin-right: 30px;
            margin-left: 30px;
        }

        .questions__answers {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .answers__answer {
                width: 150px;
                height: 75px;
                background-color: transparent;
                outline-style: solid;
                outline-color: #FFFFFF;
                outline-offset: -10px;
                outline-width: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .answer__radio {
                    opacity: 0;
                    position: absolute;
                    z-index: -10;
                    cursor: pointer;
                }

                .answer__text {
                    font-family: Handjet, sans-serif;
                    font-size: 31px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }

            .answers__answer:hover {
                background-color: #FFFFFF;;
            }

            .answers__answer:active {
                background: rgb(255, 117, 117);
                background: linear-gradient(180deg, rgba(255, 117, 117, 1) 0%, rgba(255, 255, 117, 1) 25%, rgba(160, 255, 117, 1) 50%, rgba(80, 117, 255, 1) 75%, rgba(160, 117, 255, 1) 100%);
                outline-color: transparent;
            }
        }
    }

    .game__result {
        position: fixed;
        width: 90%;
        height: 250px;
        align-self: center;
        background-color: grey;
        display: flex;
        flex-direction: column;
        outline-style: solid;
        outline-width: 10px;
        outline-color: darkgray;
        outline-offset: -10px;

        .result__truefalse {
            text-align: center;
            font-family: Handjet, sans-serif;
            font-size: 44px;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 40px;
            margin-right: 30px;
            margin-left: 30px;
        }

        .result__time {
            text-align: center;
            font-family: Handjet, sans-serif;
            font-size: 31px;
            font-weight: bold;
            margin-bottom: 40px;
            margin-right: 30px;
            margin-left: 30px;
        }
    }
}

@media (min-width: 1200px) {
    
    .dataplay__home {
        margin: 40px 40px 40px 40px;
        max-width: 1600px;

        .home__warning {
    
            .warning__text {
                font-size: 22px;
                margin-bottom: 40px;
            }
    
            .warning__ok {
                width: 150px;
                height: 75px;
                outline-offset: -10px;
                outline-width: 10px;
    
                .ok__text {
                    font-size: 31px;
                }
            }
        }
    
        .home__title {

            .title__title {
                font-size: 124px;
                margin-bottom: 40px;
    
                &--bottom {
                    margin-bottom: 160px;
                }
            }
        }
    
        .home__buttons {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 40px;
    
            .buttons__button {
                width: 580px;
                height: 208px;
                outline-offset: -20px;
                outline-width: 20px;
    
                &--play {
                    margin-bottom: 40px;
                }
    
                .button__text {
                    font-size: 124px;
                }
            }
        }
    }
    
    .dataplay__rules {
        margin: 40px 40px 40px 40px;
        max-width: 1600px;
    
        .rules__paragraph {
            font-size: 44px;
            margin-bottom: 40px;
        }
    
        .rules__button {
            margin-top: 80px;
    
            .button__home {
                width: 580px;
                height: 208px;
                outline-offset: -20px;
                outline-width: 20px;
    
                .home__text {
                    font-size: 88px;
                }
            }
        }
    }
    
    .dataplay__intro {
        height: 100%;
        margin: 40px 40px 40px 40px;
        max-width: 1400px;
    
        .intro__title {
            font-size: 88px;
            margin-bottom: 80px;
        }
    
        .intro__square {
            height: 10px;
            margin-bottom: 80px;
    
            .square__league {
                width: 10px;
                height: 10px;
            }
        }
    
        .intro__paragraph {
            font-size: 44px;
    
            &--bottom {
                margin-top: 40px;
            }
        }
    
        .intro__button {
            margin-top: 80px;
    
            .button__continue {
                width: 435px;
                height: 156px;
                outline-offset: -20px;
                outline-width: 20px;
    
                .continue__text {
                    font-size: 88px;
                }
            }
        }
    }
    
    .dataplay__game {
        margin: 40px 40px 40px 40px;
        max-width: 1600px;
        display: flex;
        flex-direction: column;
    
        .game__league {
            margin-bottom: 400px;
    
            .league__paragraph {
                font-size: 62px;
                margin-bottom: 40px;
    
                &--bottom {
                    margin-bottom: 80px;
                }
            }
        }
    
        .game__test {
            margin-bottom: 400px;
    
            .test__paragraph {
                font-size: 62px;
                margin-bottom: 40px;
    
                &--bottom {
                    margin-bottom: 80px;
                }
            }
        }
    
        .game__questions {
            width: 80%;
            height: 400px;
            align-self: center;
            outline-width: 20px;
            outline-offset: -20px;
            top: 35%;
    
            .questions__question {
                font-size: 44px;
                margin-top: 40px;
                margin-bottom: 80px;
                margin-right: 60px;
                margin-left: 60px;
            }
    
            .questions__answers {
    
                .answers__answer {
                    width: 300px;
                    height: 150px;
                    outline-offset: -20px;
                    outline-width: 20px;
                    cursor: pointer;
    
                    .answer__text {
                        font-size: 62px;
                    }
                }
            }
        }

        .game__result {
            width: 80%;
            height: 400px;
            align-self: center;
            outline-width: 20px;
            outline-offset: -20px;
            top: 35%;
    
            .result__truefalse {
                font-size: 44px;
                margin-top: 40px;
                margin-bottom: 80px;
                margin-right: 60px;
                margin-left: 60px;
            }
    
            .result__time {
                font-size: 31px;
                margin-bottom: 80px;
                margin-right: 60px;
                margin-left: 60px;
            }
        }
    }
}

@media (max-height: 750px) {
    
    .dataplay__home {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 40px;
    
        .home__title {
            .title__title {
                font-size: 44px;
                margin-bottom: 20px;
        
                &--bottom {
                    margin-bottom: 0px;
                }
            }
        }
    }
    
    .dataplay__rules {
    
        .rules__paragraph {
            font-size: 22px;
            margin-bottom: 20px;
        }
    }
    
    .dataplay__intro {
    
        .intro__title {
            font-size: 44px;
            margin-bottom: 80px;
        }
    
        .intro__square {
            margin-bottom: 40px;
        }
    
        .intro__paragraph {
            font-size: 22px;
        }
    
        .intro__button {
            margin-top: 20px;
    
            .button__continue {
                width: 145px;
                height: 52px;
                outline-offset: -5px;
                outline-width: 5px;
    
                .continue__text {
                    font-size: 31px;
                }
            }
        }
    }
    
    .dataplay__game {
    
        .game__questions {
            width: 80%;
            height: 200px;
            top: 30%;
        }

        .game__result {
            width: 80%;
            height: 200px;
            top: 30%;
        }
    }
}

@media (min-width: 1600px) {
    .dataplay__home {
        margin: 0 auto;
    }

    .dataplay__rules {
        margin: 0 auto;
    }

    .dataplay__intro {
        margin: 0 auto;
    }

    .dataplay__game {
        margin: 0 auto;
    }
}