@import 'utils/variables';
@import 'components/type';

/*@keyframes link {
    from {
        top : 5%;
        transform: rotateY(360deg);
    }

    to {
        top:30%;
        transform: rotateY(0);
    }
}

@keyframes link2 {
    from {
        top : 5%;
    }

    to {
        top:30%;
    }
}*/

body {
    font-family: "Alegreya Sans SC" ;
    color: white;
    margin: 0;
    padding: 2.50em;
    background-color: black;
}
.home{
    text-align: center;
    
}